@model WeatherForecasting.Models.SearchByCity

@{
    ViewData["Title"] = "SearchByCity";
}
<style>


    .overlay-content {
        position: absolute;
        top: 40%;
        left: 40%;
        text-align: center;
        margin-top: 60%;
        margin: auto;


       
    }

</style>

    <div style="text-align:center; top:20%">
        <h1>Welcome to Vayuvidha</h1>

        <i>
            "Sunshine is delicious, rain is refreshing, wind braces us up, snow is exhilarating; there is really no such thing as bad weather, only different kinds of good weather."

            - John Ruskin.
        </i>
    </div>
    <div class="overlay-content">

        <form method="post" asp-controller="Forecast" asp-action="SearchByCity">
            <input asp-for="City" placeholder="Please enter city name">
            <button><i class="fa fa-search"></i></button>
            <span asp-validation-for="City" class="text-danger"></span>

        </form>

    </div>


